<nav class="navbar">
    <ul class="nav-links">
        <li><a routerLink="/home/perfil" routerLinkActive="active">Perfil</a></li>
        <li><a routerLink="/home/crearDieta" routerLinkActive="active">Crea tu dieta</a></li>
        <li><a routerLink="/home/progreso" routerLinkActive="active">Progreso</a></li>

        <li class="logo-center">
            <img src="/imagenes/logo.png" alt="logo" width="150"/>
        </li>
      
        <li><a routerLink="/home/crearRutina" routerLinkActive="active">Crea tu rutina</a></li>
        <li><a routerLink="/home/miRutina" routerLinkActive="active">Tu rutina</a></li>
        <li><a routerLink="/home/infoPrincipal" routerLinkActive="active">Home</a></li>
        
    </ul>
</nav>
